@media (max-width:1000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    body {
        margin: 0;
    }


    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .whiteSec {
        height: auto;
        width: 800px;
    }

    .blueSec {
        height: auto;
        width: 800px;
    }


    #pic {
        height: 350px;
        width: 350px;
    }

    .title {
        margin-top: 10px;
        text-align: center;
        justify-content: center;
    }

    .information {
        text-align: justify;
        width: fit-content;
        height: 400px;
        padding-left: 30px;
    }

    #tragetoria {
        text-align: justify;
        width: fit-content;
        height: 450px;
        padding-right: 30px;
    }

    #timeSec {
        justify-content: center;
        width: 800px;
        height: 600px;
       
    }

    #videoBox {
        width: 100%;
    }

    #time1 {
        max-width: 60%;
    }
    
    #time2 {
        max-width: 50%;
    }
    
    #time3 {
        max-width: 25%;
        padding-top: 20px;
    }
    

    #videoSec {
        height: auto;
        width: 800px;
    } 

   

    #contato {
        width: 800px;
        height: auto;
    }

    .mainFooter {
        width: 800px;
        height: 25px;
    }
}